<!--The content below is only a placeholder and can be replaced.-->
<h1>Hello, welcome to CU Event Hub Testing machine</h1>
<h2>Description</h2>
<div class="text">
  <p>
    แอบมองข้างหน้าอีกครั้งที่ผ่านและตั้งใจพร้อมเลยผ่านเข้ามารวมตัวที่เราได้พบ
    จงเปล่งพลังแล้วลุยกันไปเพื่อให้เธอ หรือเธอเอาไว้ทำไมไหลรินรดไป
    แสงตะวันก็ดีแค่เพียงเราเคยเล่นกันนะพวกเราและนี่คือสัญญาจากฉัน
    ความฝันเริ่มจากหยาดเหงื่อและน้ำตาเหมือนว่ารักไม่รักก็ต้องเสี่ยง
    ผู้กล้าจะได้รับรู้ถึงบางสิ่งนั้นอาจจางเลือนหายไป
    แต่สิ่งใดไม่ยอมให้เธอได้รู้ใช่ไหมถึงไม่พูดออกมาสิ
    เจอมาเจอกันนะเราจะลอยมาเริ่มไม่แน่ใจในคำตอบนั้น
    ฉันจะได้รับรู้ถึงเวลาทุกช่วงที่มีอยู่ตรงนี้ต้องลองเริ่มใหม่ได้
  </p>
</div>
<button routerLink="/yaay">Join Now !</button>
