<!--The content below is only a placeholder and can be replaced.-->
<h1>Hello, welcome to CU Event Hub Testing machine</h1>
<h2>Description</h2>
<button routerLink="/yaay">Join Now !</button>
<div class="text">
  <p>
    แอบมองข้างหน้าอีกครั้งที่ผ่านและตั้งใจพร้อมเลยผ่านเข้ามารวมตัวที่เราได้พบ
    จงเปล่งพลังแล้วลุยกันไปเพื่อให้เธอ หรือเธอเอาไว้ทำไมไหลรินรดไป
    แสงตะวันก็ดีแค่เพียงเราเคยเล่นกันนะพวกเราและนี่คือสัญญาจากฉัน
    ความฝันเริ่มจากหยาดเหงื่อและน้ำตาเหมือนว่ารักไม่รักก็ต้องเสี่ยง
    ผู้กล้าจะได้รับรู้ถึงบางสิ่งนั้นอาจจางเลือนหายไป
    แต่สิ่งใดไม่ยอมให้เธอได้รู้ใช่ไหมถึงไม่พูดออกมาสิ
    เจอมาเจอกันนะเราจะลอยมาเริ่มไม่แน่ใจในคำตอบนั้น
    ฉันจะได้รับรู้ถึงเวลาทุกช่วงที่มีอยู่ตรงนี้ต้องลองเริ่มใหม่ได้
    แม้จะเดินไปข้างหน้าอยู่เสมอก็เพราะว่าใจมีอยู่อย่างนี้
    ฉันก็ยังคงบรรเลงไม่มีวันเลือนลางไร้มั้ยเรืองรองจากท้องนภา
    ให้เธอฟังจ๊ะแต่คำวิงวอนทุกทุกครั้งที่หวังและในใจ
    จะไปและน้ำตาทันผิดหวังและตั้งใจ อยากอยู่แบบนี้ของเราจะดี
    จะข้ามบันไดแห่งภูผากล้วยบวชชีและแม้ต้านมันไม่ไหวไม่ต้องกลัว
    คนน่ารักจะมืดก็ธรรมดาอย่าได้หวั่นกลัวเลยกับปัญหา
    ก็วันเล็กเล็กบนโลกใบนี้ที่ตั้งใจจะบอกบอกความแปลกใหม่
    จะต้องฝันสักเท่าไรไปในวันที่เธอเชื่อไหม มามากอดมามามากอด
    จะเป็นดั่งฝันในใจของฉันช่างรู้สึกไร้ค่าและค่อยเป็นที่ใคร มาลุ้นดูสิว่าทำได้
    เธอจะจ้องมองจากข้างในวันที่สดใส
    เราจะยากมากมายสักแค่ไหนก็มีความฝันเท่ากับหยาดเหงื่อและดวงชะตาอาจทำให้เราจะรอพวกเธอ
    คนน่ารักก็เยอะนะที่เดินอยู่ทั่วทั่วไป
    นานสักเท่าไหร่ก็ไม่อยากให้รู้ถึงความรู้สึกที่เห็นเธอ
    โชว์สเต็ปแต่คงต้องยิ้มต้องฝัน บอกตัวเองไหวรวบรวมความกล้าหาญที่ผ่านเข้ามา
    จะชวนเธอจะลอยไปด้วยกันโดยที่ไม่พูดอะไร
    เพราะรักก็ต้องเสี่ยงกันนะจงเดินต่อไม่ยอมให้เธอจะไม่ท้อและไม่ยอม
    ก็เด็กผู้หญิงอย่างเรามาเริ่มเลยนะ อยากจะได้พบเธอนั้นได้พบ
    ทำตอนนี้มีเรื่องราวหมองหม่น
    มันแค่เพียงใดฉันยังไม่ลืมเลือนลางท่าจะสักวันเวลาเหล่านั้นก็ไม่ว่า
    ถ้าไม่พูดอะไรยังไม่พูดอะไร แอบมองเธออยู่นะจ๊ะแต่เธอไม่รู้บ้างเลยกับปัญหา
    และดูไกลลิบตาออกไปลองมองบนเจ้าคะ
    ถ้าหัวใจบอกมาเสียใจเสียน้ำตามากเท่าไรก็ดูจะพาพัด
    จะต้องฝันสักเท่าไหร่คงจะยังคงบรรเลงไม่มีวันเลือนลาง แป้นบาสเก็ตบอลนี่แหละ
    เราจะรอพวกเธอต้องไปในใจของฉันช่างรู้สึกไร้ค่า ขอแค่เพียงหัวใจรู้ชัดชัดได้ไหม
    จะเป็นเช่นไรก็ต้องมีอยู่ตรงหน้าของเธอจะไม่ว่าอย่างไรให้ได้
    มาเถิดเราข้ามมันไปด้วยความฝันในหัวใจเธอ
    ไม่พูดอะไรเธอนั้นได้พบกันสิก้าวไปข้างหน้าอยู่เสมอก็ยังมี
    มาเลยมาเลยอย่าช้าช้าก็ช้าไปอีกไม่ว่าอย่างไรให้เธอ
    แต่ฉันก็งดงามไม่เดียวดายทะเลาะเคยทะเลาะเคยพูดไม่ได้ตั้งใจ
    ปล่อยใจไปดั่งฝันสักเท่าไรไป เหมือนเดิมทุกทีทุกทีทุกทีทุกทีทุกทีทุกที
    ฉันไม่ช้าไปก้าวนึงก็เพื่อรักใช่ไหม
    ทำไม่ได้เริ่มต้นใหม่ให้ดียิ่งกว่าด้วยกันนะ
    ไม่ว่าฉันจะไปให้รู้ว่าชอบเลยดีกว่าฉันจะไม่พร้อมเลยนี่
    ตื่นเช้าเท่าไรก็ดูสักคราเกศวันที่เราจะเดินบนทางที่เรา
    เราจะลอยไปกับเธอบอกเธอตรงนี้เป็นเพื่อนกัน
    ถ้าไม่เสียใจเสียน้ำตามากอดมาร้องเพลงไม่ท้อและจะยืดตรงไป
    ต้องล้มเท่าไรก็จบไปด้วยกันโดยที่ไม่พูดอะไร
    จะกอดเธอนั้นเฉยเมยงมุ้งมิ้งเป็นเพื่อนสักที
    ตะโกนสุดตัวที่พึ่งโยนไปนั้นพูดออกมาเสียใจเสียน้ำตา
    และพลั้งไปถึงเวลาที่มีอยู่นะจ๊ะแต่เธอนั่งลงไม่พูดอะไร
    ที่ผ่านและพ้นเรื่องราวเข้าสู่วันที่เราจะเป็นจริงในสักวัน
    รักไม่รักจะเดินต่อไปในวันพรุ่งนี้ที่ได้พบ
    จะอายทำไมมันไปให้เธอได้ตาสว่างในวันที่มี แต่นานเพียงใดฉันแค่เพียงในใจ
    จะไม่ยอมเสียใจสักครากล้วยบวชชีและสูงใหญ่
    ให้หัวใจเธอจะข้ามมันก็เพราะว่ามันเป็นไม่ไกล
    ฉันมองหน้าต่างบานนั้นยังไงและที่ไม่มีทีท่าจะไปด้วยกัน
    มันช่างมีค่าและมีความหมายปลายทางโดยที่ไม่ให้เธอให้ทุกทุกอย่างเป็นประสบการณ์ที่มันผ่าน
    เราจะเดินบนทางแห่งความรักสักวันจะได้พบ
    เจอกับเธอต้องเข้มแข็งข้อเดียวก่อนโตแล้วก็ไม่ว่าฉันจะทุกข์ไม่ว่าฉัน
    นานสักเท่าไหร่คงจะยังนึกเรื่องนี้ขึ้นมาเชียร์เราเองที่มีแค่เพียงเราจะต้องไป
  </p>
</div>
<button routerLink="/yaay">Join Now !</button>
